services:
  oracle:
    build:
      context: .
      dockerfile: Dockerfile.dev
    env_file:
      - .env
    environment:
      SQLITE_DB_FILE: /data/oracle.sqlite3
    volumes:
      - .:/app
      - oracle-sqlite:/data
    ports:
      - "3000:3000"

volumes:
  oracle-sqlite:
